@import url('http://karlcoelho.github.io/fonts/fonts.css');


.ph-embed {
  font-family: 'proxima-nova', sans-serif !important;
  border: 1px solid #F2F2F2;
  position: relative;
  border-radius: 5px;
  width: 400px;
  background-color: #F2F2F2;
}

.ph-embed .headline {
  color: #9B9B9B;
  margin-left: 2px;
  font-size: 0.5em;
  margin-top: 2px;
}

.ph-embed .centered {
  margin: auto;
  display: block;
}

.ph-embed a {
  text-decoration: none;
  color: black;
}

.ph-embed .hover:hover, .ph-embed .box > a:hover {
  text-decoration: none;
  color: #9B9B9B;
}

.ph-embed .name {
  text-align: center;
  margin-top: 15px;
}

.ph-embed .profile-image {
  border-radius: 100px;
  margin-top: 9px;
  width: 88px;
}

.ph-embed .box {
  margin: 18px;
}

.ph-embed .sticky {
  position: absolute;
  font-size: 10px;
  right: 4px;
  top: 0px;
  cursor: pointer;
}

.ph-embed .table {
  display: table; 
  margin: 0 auto;
}